# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**

* List popular data science coding languages
* List commonoly used libraries by Data Scientists
* List development open source tools used in data science
* Practice the use of both markdown and code cells
* Practice with basic arithmetic expressions

##### Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java
4. SQL

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

#### Data Science Tools
| Data Sciecne Tools |
| ------------------ |
| JupyterLab |
| Anaconda |
| VS Code |
| JupyterLite (cloud based) |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Eric F.